<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""
                       icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionar Conta</ion-title>
    <ion-button (click)="inicio()"
                color="primary"
                fill="clear"
                slot="end">
      <ion-icon class="icon-home" slot="icon-only"
                name="home-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>