.alerta{
  background-color: rgba(130,211,219,0.9);
}
.alerta .btnCancel{
  background: #eb445a;
  color: #fff;
}

.alerta .btnOk{
  background: #3880ff;
  color: #fff;
}

.alerta .alert-title{
  color: #0ad32b;
  font-weight: bold;
}

.alerta .alert-message{
  color: #8407ad;
}